{% extends 'posts/base.html' %}

{% block post_list %}
{% comment %} 
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <input type="text" required name="post_title" placeholder="Enter a new post"> <br>
        <textarea name="post_text" required placeholder="Enter your text here"></textarea><br>
        <button type="submit">Add new post</button>
    </form>     {% endcomment %}

    <hr>
    <h1>Posts</h1>
    <ul>
        {%for post in blogs%}
            <li>
                <h2> <a href="{% url 'detail' post.id %}">{{post.title}}</a> </h2>
                <p> id :{{post.id}} </p>
                <p> {{post.content}} </p>
                <p> {{post.created_at}} </p>
                <p> <a href="{% url 'author' post.author.id %}"> {{post.author.name}} </a> </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form> 
                <a href="{% url 'update' post.id %}">Update</a>
                
            </li>
        {%empty%}
            <li>No posts available</li>
        {% endfor %}
    </ul>
{% endblock post_list %}